<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Neat Hacks, Ugly Hacks</title>

</head>

<body>
  <a href="/" class="main-title">
    Neat Hacks, Ugly Hacks
  </a>

  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
      <br></br>
      <a class="login-link" href="/newpost">new post</a>
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
      <br></br>
      <a class="login-link" href="/newpost">new post</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>

  <div id="error">
    {{error}}
  </div>
</body>

</html>
