{% extends "base.html" %}

{% block content %}
  {% if user %}
    {{post.render(user.key().id()) | safe}}
  {% else %}
    {{ post.render(None) | safe }}
  {% endif %}

  <div class="comments">
		{% for comment in comments %}
			<div class="comment">
			    <div class="comment__meta">
			        <div class="meta__author">
                  <!-- <p>{{comment.user_id}}</p> -->
			            <!-- <img class="meta__author__image" src="/static/images/compose.svg" alt=""> -->
			        </div>
			        <div class="meta__comment">
			            <div class="meta__comment__author">{{comment.user_name}}</div>
			            <div class="meta__comment__date">{{comment.created.strftime("%b %d, %Y")}}</div>
			        </div>
			    </div>
			    <p class="comment__content">
			        {{ comment.content }}
			    </p>
			    <div>
				    {% if user and user.key().id() == comment.user_id %}
              <!-- <a href="/{{post.key().id()}}/{{comment.user_id}}/deletecomment/{{ comment.key().id() }}"> -->
				    	<a href="/{{post.key().id()}}/deletecomment/{{ comment.key().id() }}">
				    		<!-- <div class="comment__delete"> -->
                  <p>delete</p>
				    			<!-- <img src="/static/images/rubbish-bin.svg" alt="" class="delete__icon"> -->
				    		<!-- </div> -->
				    	</a>
              <!-- <a href="/{{post.key().id()}}/{{comment.user_id}}/editcomment/{{ comment.key().id() }}"> -->
				    	<a href="/{{post.key().id()}}/editcomment/{{ comment.key().id() }}">
				    		<!-- <div class="comment__edit"> -->
                  <p>edit</p>
				    			<!-- <img src="/static/images/edit.svg" alt="" class="edit__icon"> -->
				    		<!-- </div> -->
				    	</a>
				    {% endif %}
			    </div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
