<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a class="blog-link" href="/{{p.key().id()}}">{{p.subject}}</a>
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>

  <div class="likes">
    <!-- <form action="/{{p.key().id()}}/like" method="post"><input type="submit" value="{{p.likes}} likes"></form> -->
    <form action="/{{p.key().id()}}/like" method="post"><input type="submit" value="{{p.likes}} likes"></form>
  </div>

  <div class="edit">
    <form action="/{{p.key().id()}}/edit" method="get"><input type="submit" value="edit"></form>
  </div>

  <div class="comment">
    <form action="/{{p.key().id()}}/comment" method="edit"><input type="submit" value="comment"></form>
  </div>

  {% if p.like_error %}
  <div class="error">You can't like your own posts</div>
  {% endif %}

  {% if p.edit_error %}
  <div class="error">You can only edit/delete your own posts</div>
  {% endif %}
</div>
